body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: url(https://gm-prd-resource.gentlemonster.com/main/banner/774598748925315310/6745aa4a-c010-4f46-957b-4f6b3d6c4b9d/MAIN_PC.jpg);
    background-size: cover; */
    background: #F3F4F6;
}

.navbar {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: smaller;
    
    overflow: hidden;
}
.navbar :hover{
    color: black;
}

/* LEFT SIDE MENU */
.nav-left{
    display: flex;
    flex-direction: row;
    
    /* justify-content: center;  */
    justify-content: space-between;
    
}
.nav-left button {
    margin-right: 30px;
    text-decoration: none;
    font-weight: bold;
    border: 0px;
    background: none;
    
   
    color: rgb(0, 0, 0);
    
}
.bgvideo{
    width: 100%;
}
.bgvideo img{
    height: 84.38vh;
    width: 100%;
   
}

/* CENTER LOGO */
.nav-center {
    /* height: 9px;
    width: 20px;
    
    background-image: url(./GENTLE_MONSTER_Logo_New_2.svg);
    background-size: cover;
    height: 6.82vh;
    width: 25%;
    letter-spacing: 2px;
    font-weight: 600; */
}

/* RIGHT SIDE TEXT & ICONS */
.nav-right {
    
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    width: 25%;
}
.nav-right a i{
    color: rgb(255, 255, 255);
    font-weight: bold;
}


.icon {
    font-size: 20px;
    cursor: pointer;
}

/* BLUR EFFECTS */
.blur-left,
.blur-right {
    position: absolute;
    top: 0;
    width: 46.36vw;
    height: 100%;
    filter: blur(60px);
    opacity: 0.35;
}
.classheader{
    margin: 3.5294vw;
    font-size:large;
    height: 6.82vh;
    align-content: center;
    justify-content: space-evenly; 
}
.more{
    color: black;

}

.model-slide{
    display: flex;
    overflow-x: hidden;
    scrollbar-width: none;
    height: 720;
    overflow-x: auto;
    
}
.model{
    /* height: 610px; */
    width: 50%;
    /* width: auto; */
}
.model img{
    /* height: 610px; */
    /* size: 400px; */
    
    height: 105vh;
    width: auto;
}
.price-tag{
    font-family: __gentleSansLightEn_9e3a7a, __gentleSansLightEn_Fallback_9e3a7a, Arial, sans-serif;
    margin: 3.5294vw;
    position: relative;
    top: -200px;
    background: none;
    color: black;
    font-size: small;
}
.name,.amt{
    text-decoration: none;
}
/* .specs-slide{
    display: flex;
    
    overflow-x: auto;

} */
 .slide2{
    margin: 3.5294vw;
 }
.specs-slide{
    display: flex;
    position: relative;
    overflow: hidden;
    margin: -3.5294vw;
    
    scrollbar-width: none;
    list-style: none;
    overflow-x: auto;
    z-index: 1;
    padding: 0%;

    
}
.specs{
    width: 30%;
    height: 80vh;
    margin: 3.5294vw;
    width: 370px;

}
.specs img{
    
    width: 
    22.2vw;

}
.gprice-tag{
    margin: 3.5294vw;
    height: 6.82vh;
    justify-content:center;
    align-items: end;
    font-size: small;
    position: relative;
    top: 60px;
    background: none;
}
.amtg{
    /* text-decoration-color: lightgray; */
    color: rgb(94, 94, 94);
}
.opt{
    text-decoration: underline;
    padding: 10px 0;
}
footer{
    text-align:left;
    background: none;
    padding: 20px 0;
    margin: 3.5294vw;
    font-size: small;
    width: auto;
    /* position: fixed; */
    bottom: 0;
    left: 0;
}
footer a{
    color: black;
    text-decoration: none;
}
footer ul{
    list-style-type: none;
    padding: 0;
}
footer ul li{
    display: inline;
    margin: 0 10px;
}
footer div{
    /* margin-left: 3.5294vw; */
    padding: 0 10px;
    font-weight:bold;
}